@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Regular.ttf");
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #FFFAFA !important;
}

.first-header {
    text-align: center;
    font-size: 0.8em;
    padding: 0.8% 0.8%;
}

.first-header p {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header ul {
    list-style-type: none;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
}

.container-header {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.menu-icons {
    color: #eee;
    font-size: 2rem;
    position: absolute !important;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    height: 4rem !important;
    border-bottom: 1px solid rgba(255, 255, 255, .1) !important;
    position: relative !important;
}

.logo {
    width: 10rem;
    height: 3rem;
    display: flex;
    border-radius: 100%;
    margin-right: 2rem;
    float: left;
    color: #fff;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
}

.logo:hover {
    text-decoration: none;
    color: #fff;
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-around;
    padding-left: 0;
}

.nav-list li {
    line-height: 2.6em;
    position: relative;
}

.sub-menu li {
    line-height: 2.6em;
}

.nav-list a {
    display: block;
    color: #eee;
    font-size: 0.86667em;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover {
    color: #9e9e9e;
    text-decoration: none;
}

.sub-menu {
    min-width: 14rem;
    display: block;
    position: absolute;
    border-top: 3px solid #9e9e9e;
    background-color: rgba(51, 51, 51, 0.95);
    z-index: 100;
    top: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #9e9e9e;
}

.sub-menu .sub-menu::before {
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: #9e9e9e;
}

.sub-menu .sub-menu {
    border-top: none;
    border-left: 3px solid #9e9e9e;
    top: 0;
    left: 100%;
}

.sub-menu li:hover {
    background-color: rgba(51, 51, 51, 0.7);
}

.sub-menu {
    padding-left: 0;
}

.sub-menu li {
    /* text-align: center; */
    padding-left: 1em;
}

.nav-list li:hover>.sub-menu {
    top: 3rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover>.sub-menu {
    top: 0;
    left: 100%;
}

.sub-menu a {
    font-size: 0.95em;
    text-transform: unset;
}

@media screen and (max-width: 858px) {
    header ul {
        padding-left: 0.2em;
    }
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        background-color: #191919;
        align-items: initial;
        z-index: 1000;
    }
    .nav-list>li {
        line-height: 2.6rem;
        position: initial;
        border: 3px solid transparent;
        border-left-color: #eb3007;
        margin-left: 0.5rem;
        padding-left: 1rem;
    }
    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: #eb3007;
        margin-left: 0.5rem;
        max-height: 0;
    }
    .sub-menu::before {
        display: none;
    }
    .nav-list li:hover>.sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }
    .menu-icons {
        display: block !important;
    }
    .icon-md-close {
        display: none !important;
    }
    nav.active .icon-md-close {
        display: block !important;
    }
    nav.active .icon-md-menu {
        display: none !important;
    }
    nav.active .nav-list {
        display: flex !important;
    }
    .logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.section1 {
    margin-top: 1em;
}

.section1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section1 {
    margin-top: 3em;
}

.section1 .title {
    color: #333333;
    font-size: 1.5em;
    font-weight: 600;
    position: relative;
    padding: 0.5em 0 0.6em;
}

.section1 .introduce-content {
    color: #666666;
    line-height: 1.6em;
    padding: 1em 0;
}

.section1 .content {
    text-align: center;
}

.view-more {
    color: #333333;
    font-weight: 600;
    border: 1px solid #333333;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 1em;
    padding: 1em 3em;
    transition: 0.6s;
}

.view-more:hover {
    text-decoration: none !important;
    background-color: rgba(51, 51, 51, 0.8);
    color: #eeeeee;
}

.wrap-view-more {
    justify-content: center !important;
    margin-top: 3em;
}

.section2 {
    margin-top: 3em;
    margin-bottom: 1em;
}

.section2 .title h2 {
    text-align: center;
    padding: 1em 0 0.5em 0;
    font-size: 1.7em;
    position: relative;
}

.section2 .title h2:after {
    position: absolute;
    width: 1.2em;
    height: 0.1em;
    margin-left: -0.8em;
    left: 50%;
    background: #333333;
    content: '';
    bottom: 0;
}

.section2 .list-product {
    margin-top: 2em;
}

.product-box {
    position: relative;
}

@media screen and (min-width: 1024px) {
    .product-box {
        position: relative;
        margin-top: 2em;
    }
}

.product-thumbnail {
    margin-top: 1em;
    position: relative;
    top: 0;
    left: 0;
    transition: 1s;
}

.product-thumbnail:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 3;
}

.product-thumbnail:hover .product-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-thumbnail:hover .product-action>a>span>i {
    animation: scale-display 0.5s;
}

@keyframes scale-display {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0deg);
        -webkit-transform: scale(0) rotate(0deg);
    }
    ;
    100% {
        opacity: 1;
        transform: scale(1) rotate(-360deg);
        -webkit-transform: scale(1) rotate(-360deg);
    }
}

.product-thumbnail a img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-action {
    width: 100%;
    display: none;
}

.product-action i.fas {
    border-radius: 50%;
    vertical-align: middle;
    background-color: #6dd3d1;
    padding: 1.2em;
}

.product-action i.far {
    border-radius: 50%;
    vertical-align: middle;
    background-color: #fabc59;
    padding: 1.2em;
}

.product-action a {
    font-size: 0.8em;
}

.product-action a:hover i {
    background: none;
    transition: 0.5s;
}

.pulse {
    color: #eeeeee;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 4;
}

.pulse:before,
.pulse:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 1px solid #6dd3d1;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    animation: animate 1.5s linear;
    opacity: 0;
    backface-visibility: hidden;
}

.pulse2:before,
.pulse2:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 1px solid #fabc59;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    animation: animate 1.5s linear;
    opacity: 0;
    backface-visibility: hidden;
}

.pulse:after {
    animation-delay: .5s;
}

.pulse2:after {
    animation-delay: .5s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.pulse2 {
    color: #eeeeee;
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: 4;
}

.sale-flash {
    position: absolute;
    font-size: .66667em;
    color: #FFF;
    width: 3em;
    height: 3em;
    line-height: 3em;
    font-weight: 300;
    top: 0.7em;
    left: 0.7em;
    text-align: center;
    z-index: 98;
    border-radius: 50%;
    background-color: #f1805f;
}

.product-name {
    margin-top: 1em;
    font-size: 0.86667em;
    text-align: center;
}

.product-name a {
    color: #363636;
}

.product-name a:hover {
    color: #e57368;
    text-decoration: none;
}

.price-box {
    text-align: center;
}

.special-price,
.old-price {
    display: inline-block;
    font-size: 0.86667em;
}

.special-price {
    font-weight: bold;
}

.old-price {
    padding: 0 0 0 1em;
    text-decoration: line-through;
    color: #adadad;
}

footer {
    background-color: #212121;
    padding: 4em 0;
    margin-top: 2em;
    text-align: center;
}

footer input {
    font-size: 0.7em;
    padding: 0.6em 0.5em;
    width: 100%;
    border-radius: 0.3em;
    border: 1px solid #eeeeee;
}

footer input:focus {
    outline: none;
}

.module-title {
    color: #eeeeee;
    font-size: 1.1em;
    font-weight: 900;
    padding: 1em 0;
}

.textwidget,
address {
    color: #eeeeee;
    font-size: 0.95em;
    font-weight: 300;
    line-height: 2em;
}

address {
    color: #eeeeee;
}

.btn-register-letter {
    border: none;
    background-color: #f16b6f;
    color: #fff;
    margin-top: 1em;
    font-size: 0.8em;
    padding: 0.4em 0.6em;
    border-radius: 0.3em;
}

.tzwidget-contact a {
    color: #fff;
}

.tzwidget-contact a:hover {
    color: #fff;
    text-decoration: none;
}

.tzwidget-social ul {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    list-style: none;
    padding-left: 0;
    margin-top: 1em;
}

.tzwidget-social ul li a {
    color: #fff;
    font-size: 2em;
}

.tz-recent-post {
    list-style: none;
    padding-left: 0;
}

.tz-recent-post li a {
    color: #fff;
    font-size: 0.95em;
    line-height: 2em;
}

.tz-recent-post li a:hover {
    text-decoration: none;
}

.license {
    text-align: center;
    font-size: 1em;
    padding: 2em 0;
}

.license p {
    margin-bottom: 0;
}

.clear {
    clear: both;
}