* {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 244, 244);
    margin: 0px;
}

.bCQVGk {
    position: sticky;
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: rgb(255, 186, 0);
    top: 0px;
    width: 100%;
    font-size: 14px;
    z-index: 1000;
    user-select: none;
    transition-property: height;
    transition-duration: 0.1s;
    border-color: rgb(255, 161, 0);
}

@media (min-width: 1200px) {
    .layoutContainer {
        width: 936px;
    }
}

@media (min-width: 992px) {
    .layoutContainer {
        width: 936px;
    }
}

@media (min-width: 768px) {
    .layoutContainer {
        width: 744px;
    }
}

.layoutContainer {
    display: flex;
    min-width: 320px;
    margin: 0 auto;
}

.logo {
    flex: 0.3 1 auto;
    justify-content: flex-start;
}

.logoAnchor {
    height: 52px;
}